*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

/* former welfare section start */
#former_welfare_section{
    margin:100px 0px 0px 0px;
    background-color:white;
    text-align:center;
}
#former_welfare_section .container .row .col{
    padding:0px 10px;
}
 #former_welfare_section p{
   line-height:50px;  
} 
#former_welfare_section h3{
    margin:20px 0px;
} 

#former_welfare_section .box{
    width:100%;
    height:auto;
    box-shadow:0px 3px 5px gray;
    background-color:white;
    color:black;
}
#former_welfare_section p {
    padding:50px 20px;
    font-size:20px;
    text-align:left;
} 

/*former welfare section end */


/* responsive page */

@media screen and (max-width:576px)
{
    #former_welfare_section .container{
        padding:0px 20px;
    }

}