*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
#content_section p{
    line-height:50px;
    font-size:25px;
    margin:0px 100px;
}

 #ul_section ol{
    margin:0px 0px  100px 0px;
}
 #ul_section ol li{
    line-height:50px;
    font-size:25px;
    margin:0px 100px 0px 150px;
    
}

#content_section h2{
    margin:0px 100px;
} 