*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

p{
    line-height:50px;
    font-size:25px;
    margin:0px 15px;
}
#ul_section ul{
    margin:0px 0px  100px 0px;
    list-style:none;
}
#ul_section ul li{
    line-height:50px;
    font-size:25px;
    margin:0px 25px 0px 15px;
    
}
#ul_section h2{
    margin:0px 15px;
}

#table_section .container-fluid{
  
    padding:0px 15px;
    

}
#table_section tr,th,td{
    border:2px solid gray;
    font-size:14px;
    
}